.flip-card-back a{
    text-decoration: none;
    color: white;
    outline: none;
    border-top:2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    background-color: #0a0a0a;
  }